@model Profesor
@{
    ViewData["Title"] = "Eliminar profesor";
}

<h2>Eliminar profesor</h2>
<p>¿Seguro que desea eliminar este profesor?</p>

<p><strong>Nombre:</strong> @Model.Nombre @Model.Apellido</p>
<p><strong>Especialidad:</strong> @Model.Especialidad</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProfesorId" />
    <input type="submit" value="Eliminar" />
    <a asp-action="Index">Cancelar</a>
</form>
